<%= render '/layouts/confirm_modal'%>

<%= form_tag  ipxescripts_path, :method => 'get', :id => "ajax_search_form" do %>
<div class="page-header">
     <div class="logo pull-left">  <%= image_tag('script.png',:width => 50, :height => 50 ) %></div> Ipxe
    <div class="pull-right">
        <%= link_to new_ipxescript_path, :remote => true,
        :class => "btn btn-primary", :style => "margin-right:10px; height:15px;" do%>
            <i class="icon-plus icon-white"></i> Nouveau Script Ipxe
        <% end %>
        
        <div id="quicksearch" class="search-box">
            <%= text_field_tag :search, params[:search], :placeholder => "Rechercher"  %>
        </div>
        <%= hidden_field_tag :ajax_search, "true" %>
    </div>
</div>
<div class="row-fluid">
    <div id="table_div" class="span12">
        <%= render :partial => 'ipxescripts_table' %>
    </div>
</div>
<% end %>
