<%= form_for(@projectionscript, :remote => true, :html => { :class => "form-horizontal"}) do |f| %>
<% if @projectionscript.errors.any? %>
<div class="alert alert-block alert-error">
    <h2>Oops !</h2>
    <ul>
        <% @projectionscript.errors.full_messages.each do |msg| %>
        <li>
            <%= msg %>
        </li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="control-group <%= 'error' if @projectionscript.errors[:name].present? %>">
    <label for="name" class="control-label">Nom</label>
    <div class="controls">
        <%= f.text_field :name, :class => "input-xlarge", :maxlength => "50" %>
    </div>
</div>



   	<%= f.text_area :script,{"ace-editor" => "", "ace-mode" => "sh", "ace-theme" => "twilight", style: "width: 100%;"} %>


<div class="control-group <%= 'error' if @projectionscript.errors[:description].present? %>">
    <label for="description" class="control-label">Description</label>
    <div class="controls">
      <%= f.text_area :description, :rows => 2, :cols => 100, :class => "input-xxlarge" %>
    </div>
</div>

<div class="actions">
    <%= f.submit :class => "btn btn-primary", :value => "Save" %>
    <%= link_to :back, :remote => true, :type => "reset", :class => "btn" do%>
        <i class="icon-chevron-left"></i>Cancel
    <% end %>
</div>
<% end %> 