<%= form_for(@systeminstallscript, :remote => true, :html => { :class => "form-horizontal"}) do |f| %>
<% if @systeminstallscript.errors.any? %>
<div class="alert alert-block alert-error">
    <h2>Oops !</h2>
    <ul>
        <% @systeminstallscript.errors.full_messages.each do |msg| %>
        <li>
            <%= msg %>
        </li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="control-group <%= 'error' if @systeminstallscript.errors[:name].present? %>">
    <label for="name" class="control-label">Nom</label>
    <div class="controls">
        <%= f.text_field :name, :class => "input-xlarge", :maxlength => "50" %>
    </div>
</div>
<div class="control-group <%= 'error' if @systeminstallscript.errors[:famille_id].present? %>">
    <label for="famille_id" class="control-label">Famille</label>
            <div class="controls">
                <%= f.select :famille_id, Famille.all.collect{|c| [ c.name, c.id ] }, :prompt => 'Select Famille' %>
            </div>
</div>

<div class="control-group">
    <label for="script" class="control-label">Script</label>
    <div class="controls">
      <%= f.text_area :script, :rows => 20, :cols => 100, :class => "input-xxlarge" %>
    </div>
</div>

<div class="control-group <%= 'error' if @systeminstallscript.errors[:description].present? %>">
    <label for="description" class="control-label">Description</label>
    <div class="controls">
      <%= f.text_area :description, :rows => 2, :cols => 100, :class => "input-xxlarge" %>
    </div>
</div>

<div class="actions">
    <%= f.submit :class => "btn btn-primary", :value => "Save" %>
    <%= link_to :back, :remote => true, :type => "reset", :class => "btn" do%>
        <i class="icon-chevron-left"></i>Cancel
    <% end %>
</div>
<% end %> 