<%= render '/layouts/confirm_modal'%>

<%= form_tag  logs_path, :method => 'get', :id => "ajax_search_form" do %>
<div class="page-header">
    <h1 class="pull-left">Logs</h1>
    <div class="pull-right">
       
        <div id="quicksearch" class="search-box">
            <%= text_field_tag :search, params[:search], :placeholder => "Rechercher"  %>
        </div>
        <%= hidden_field_tag :ajax_search, "true" %>
    </div>
</div>
<div class="row-fluid">
    <div id="table_div" class="span12">
        <%= render :partial => 'logs_table' %>
    </div>
</div>
<% end %>
